.body{
    background-color: black;
    width: auto;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "h h"
    "n s";
    grid-template-rows: 60px 1fr;
        grid-template-columns: 2fr 10fr;
}
.main{
    grid-area: s;
    margin: 0 auto;
}  